:root{
    /* colors */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark:#0b2447;
    --color-bg:#04152d;
    /* --color-bg:	#0818A8; */

    /* fonts */
   --font-robot: "roboto";
   
}